.upperPanel {
  width: 100%;
  background-color: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  font-family: Roboto, Oxygen, Ubuntu, sans-serif;
  border-radius: 10px;
  text-shadow: 0.25px 0.25px;
}
  
.credentials {
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, Oxygen, Ubuntu, sans-serif;
}

.userImage {
  size: 5px;
  width: 35px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.infoHeader {
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, Oxygen, Ubuntu, sans-serif;
}

.rightGroup {
  display: flex;
  align-items: center;

}
  
@media (max-width: 768px) {
  .credentials, .infoHeader {
    right: 10px;
    font-size: 20px;
  }
}