.weatherList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .weatherHeader, .weatherItem {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: Roboto, Oxygen, Ubuntu, sans-serif;
  }
  
  .weatherHeader {
    background-color: #f0f0f0;
    font-weight: bold;
    font-family: Roboto, Oxygen, Ubuntu, sans-serif;
    font-size: 18px;
  }
  
  .weatherItem {
    background-color: beige;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .headerItem, .item {
    padding: 1%;
    word-wrap: break-word;
  }
  
  .weather_delete_button {
    border-radius: 5px;
    padding: 1%;
    background-color: rgba(230, 63, 63, 0.856);
  }
  
  .weather_delete_button:hover {
    background-color: rgba(230, 63, 63, 0.55);
    cursor: pointer;
  }